<div>
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>
  <div *ngFor="let singleData of singleDatas">
    <v-chart
      [vChartType]="'barHorizontal'"
      [single]="singleData"
    >
    </v-chart>
    <hr>
  </div>

  <div *ngFor="let multiData of multiDatas">
    <v-chart
      [vChartType]="'barHorizontalGrouped'"
      [multi]="multiData"
    >
    </v-chart>
    <hr>
  </div>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>

    <form (ngSubmit)="clearXbrls()" autocomplete="off">
      <button>Clear Xbrl</button>
    </form>

    
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->
    <div *ngIf="false">{{(((xbrlService || {}).xbrls || {}).lab || {}).labels | json}}</div>
    <div *ngIf="false">{{(((xbrlService || {}).xbrls || {}).lab || {}).arcs | json}}</div>
    <div *ngIf="true">
      <pre>this.localState = {{ localState | json }}</pre>
      <hr>
      <button *ngFor="let role of this.xbrlService.roles" [ngClass]="{'active': selectedXbrlStatement === role}" (click)="selectXbrlStatement(role)">{{getHrefLastPiece(role)}}</button>

      <table *ngIf="selectedXbrlStatement">
        <tr>
          <td>Line</td>
          <td *ngFor="let contextRef of paredContextRefs" [innerHTML]="contextRefToHeader(contextRef)"></td>
        </tr>
        <tr *ngFor="let rectangleKey of rectangleKeys">
    
          
          <td>{{repeat('│   ', rectangle[rectangleKey].level - 1)}}<span *ngIf="rectangle[rectangleKey].level !== 0">{{rectangle[rectangleKey].lastChild ? '└──' : '├──'}}&nbsp;</span>{{getLabel(rectangle[rectangleKey].toHref, rectangle[rectangleKey].preferredLabel)}}</td>
          <td *ngFor="let contextRef of paredContextRefs" [innerHTML]="(((rectangle[rectangleKey] || {}).instances || {})[contextRef] || {}).textContent"></td>
        </tr>
      </table>
      <pre *ngIf="false">xbrlStatement = {{ xbrlStatement | json }}</pre>
      <pre *ngIf="false">xbrlService.xbrlStatements = {{ xbrlService.xbrlStatements | json }}</pre>
      <hr>
      <pre *ngIf="false">xbrlService.xbrls = {{ xbrlService.xbrls | json }}</pre>
    </div>

  </div>

</div>
