<div>
  <div *ngFor="let singleData of singleDatas">
    <v-chart
      [vChartType]="'barHorizontal'"
      [single]="singleData"
    >
    </v-chart>
    <hr>
  </div>

  <div *ngFor="let multiData of multiDatas">
    <v-chart
      [vChartType]="'barHorizontalGrouped'"
      [multi]="multiData"
    >
    </v-chart>
    <hr>
  </div>

  <div>

    <div class="row">
      <div class="col">
        <p>
          Entity: <span [innerHTML]="appState.get('companyName')"></span>&nbsp;
          CIK: <span [innerHTML]="appState.get('cik')"></span>&nbsp;
          Search term: <span [innerHTML]="appState.get('searchTerm')"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="submitState(localState.value)" autocomplete="off">
          <input
             class="form-control mr-sm-2"
            [value]="localState.value"
            (input)="localState.value = $event.target.value"
            placeholder="Submit Local State to App State"
            autofocus>
          <button class="btn btn-primary">Submit Value</button>
        </form>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-11">
        <nav class="nav nav-tabs d-flex flex-wrap">
          <li *ngFor="let xbrlVReportKey of xbrlService.xbrlVReportKeys" class="nav-item">
            <small>
              <a [ngClass]="{'nav-link': true, active: xbrlVReportKey === selectedXbrlVReportKey}"
                (click)="selectXbrlVReport(xbrlVReportKey)">{{xbrlVReportKey}}</a>
            </small>
          </li>
        </nav>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-danger btn-sm" (click)="clearXbrlReports()">&times;</button>
      </div>
    </div>
    <br />
    
    <div *ngIf="true" class="row">
      <div class="col-sm-3">
        <ul class="nav flex-column flex-sm-row nav-pills xbrl-statement-nav scroll-column">
          <li class="nav-item flex-sm-fill">
            <small>
              <a *ngFor="let roleURI of (selectedXbrlVReport || {}).roleURIs"
              [ngClass]="{'flex-sm-fill': false, 'nav-link': true, 'active': selectedXbrlVStatementRoleURI === roleURI}"
              (click)="selectXbrlVStatement(roleURI)">{{displayRoleURI(roleURI)}}</a>
            </small>
          </li>
        </ul>
      </div>

      <div class="col-sm-9">
        <small>
          <table *ngIf="selectedXbrlVStatementRoleURI" class="table table-striped table-sm">
            <thead class="thead-inverse">
              <tr>
                <th>{{displayRoleURI(selectedXbrlVStatementRoleURI)}}</th>
                <th *ngFor="let paredPeriodKey of selectedXbrlVStatement.paredPeriodKeys" [innerHTML]="displayPeriodKey(paredPeriodKey)"></th>
              </tr>
            </thead>

            <tr *ngFor="let rectangleKey of selectedXbrlVStatement.rectangleKeys">
              <td>{{repeat('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;', selectedXbrlVStatement.rectangle[rectangleKey].level - 1)}}<span *ngIf="selectedXbrlVStatement.rectangle[rectangleKey].level !== 0">{{selectedXbrlVStatement.rectangle[rectangleKey].lastChild ? '└──' : '├──'}}</span>{{getLabel(selectedXbrlVStatement.rectangle[rectangleKey].toHref, selectedXbrlVStatement.rectangle[rectangleKey].preferredLabel)}}</td>
              <td *ngFor="let paredPeriodKey of selectedXbrlVStatement.paredPeriodKeys"><div *ngFor="let contextRef of selectedXbrlVStatement.paredPeriods[paredPeriodKey]"><span [innerHTML]="((((selectedXbrlVStatement.rectangle[rectangleKey] || {}).instances || {})[contextRef] || {}).textContent || '')"></span><br /></div></td>
            </tr>
          </table>
        </small>
      </div>
      <div class="row" *ngIf="false && selectedXbrlVStatementRoleURI">
        <div class="col-3">
          <div>Line</div>
          <div *ngFor="let rectangleKey of selectedXbrlVStatement.rectangleKeys">{{repeat('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;', selectedXbrlVStatement.rectangle[rectangleKey].level - 1)}}<span *ngIf="selectedXbrlVStatement.rectangle[rectangleKey].level !== 0">{{selectedXbrlVStatement.rectangle[rectangleKey].lastChild ? '└──' : '├──'}}</span>{{getLabel(selectedXbrlVStatement.rectangle[rectangleKey].toHref, selectedXbrlVStatement.rectangle[rectangleKey].preferredLabel)}}</div>
        </div>
        <div class="col" *ngFor="let contextRef of selectedXbrlVStatement.paredContextRefs">
          <div [innerHTML]="contextRefToHeader(contextRef)"></div>
          <div *ngFor="let rectangleKey of selectedXbrlVStatement.rectangleKeys" [innerHTML]="(((selectedXbrlVStatement.rectangle[rectangleKey] || {}).instances || {})[contextRef] || {}).textContent"></div>
        </div>
      </div>
      
    </div>

    <pre *ngIf="false">this.localState = {{ localState | json }}</pre>
    <div *ngIf="false">{{(selectedXbrlVReport || {}).roleURIs | json}}</div>

    <div *ngIf="false">{{(((selectedXbrlVReport || {}).xbrls || {}).lab || {}).labels | json}}</div>
    <div *ngIf="false">{{(((selectedXbrlVReport || {}).xbrls || {}).lab || {}).arcs | json}}</div>

    <pre *ngIf="false">selectedXbrlVStatement = {{ selectedXbrlVStatement | json }}</pre>
    <pre *ngIf="false">selectedXbrlVStatement.xbrlStatements = {{ selectedXbrlVStatement.xbrlStatements | json }}</pre>
    <pre *ngIf="false">selectedXbrlVReport.xbrls = {{ selectedXbrlVReport.xbrls | json }}</pre>
    <pre *ngIf="false">selectedXbrlVReport.xbrls.xsd = {{ ((selectedXbrlVReport.xbrls || {})).xsd | json }}</pre>

  </div>

</div>
