button.active {
  // background-color: gray;
}

.xbrl-statement-nav {
  
}

.xbrl-instance-display .details {
  display: none;
}

.xbrl-instance-display:hover .details {
  display: block;
  position: absolute;
  top: -120px;
  left: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.scroll-column {
  // height:700px;
  height: 80vh;
  overflow-y: scroll;
}